* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --btn-default: #5772f952;
  --btn-hover: #3b54cef9;
  --bg-gradient: #dddd;
}

.btn-primary {
  background: var(--btn-hover);
  border-radius: 24px;
}

.btn-primary:hover {
  background-color: #213599f9;
}
